/* Colores */
$colorFilas: rgb(133, 133, 133);
$colorNada: rgb(133, 133, 133);
$colorCuadro: rgb(0, 183, 255);
$colorFila4: rgb(59, 59, 59);
$colorFila5: rgb(95, 95, 95);
$colorSpace: rgb(78, 78, 78);
/* Colores */

/* Posiciones */
$PositionIconLeft: 28px;
$numSubTop: 25px; 
$numSubLeft: 15px;
/* Posiciones */
