@font-face {
    font-family: "fuenteP";
    src: url("../Fuentes/Kanit-Bold.ttf");
}

@font-face {
    font-family: "fuenteMarshmello";
    src: url("../Fuentes/PoetsenOne.ttf");
}

@font-face {
    font-family: "fuenteLink";
    src: url("../Fuentes/Cocogoose.ttf");
}
